<h2>All Ordered Customers</h2>

<p>
  <%= link_to 'All  Customers', customers_path %>
  - <%= link_to 'Missing Email Customers', missing_email_path %>
</p>

<%= render partial: 'customer', collection: @customers %>
