<h2>Missing email address</h2>

<p>
  <%= link_to 'All  Customers', customers_path %>
  -<%= link_to 'Alphabetized  Customers', alphabetized_path %>
</p>

<%= render partial: 'customer', collection: @customers %>
